.quiz__swiper.swiper-autoheight .swiper-slide {
    overflow-y: visible;
}

.quiz__swiper {
    position: relative;
    
}

.quiz__swiper.swiper {
    overflow-y: visible;
}

.quiz {
    width: 74rem;
}

.quiz__head {
    display: flex;
    justify-content: center;
    margin-top: 5.1rem;
    margin-left: -1.2rem;
    padding-bottom: 1.8rem;
    margin-right: -1rem;
    background: #FFF;
}

.quiz__head-last-step {

}

.quiz__head-icon {
    position: relative;
    width: 1.45rem;
    height: 2.15rem;
    margin-left: 6.4rem;
    margin-top: 2.1rem;

}

.quiz__head-title {
    display: inline-block;
    position: relative;
    color: #282828;
    font-size: 1.4rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 115.4%;
    white-space: nowrap;
    padding-left: 1.9rem;
    padding-top: 2.7rem;
}

.qiuz__pagination {
    color: #282828;
    text-align: right;
    font-size: 1.4rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 115.4%;
    letter-spacing: normal;
    padding-right: 6rem;
    padding-top: 2.6rem;
}

.quiz__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -1.2rem;
    margin-right: -1rem;
    margin-top: 0.1rem;
    padding-left: 6rem;
    background: #fff;
}

.quiz__steps {
    width: 76rem;
    height: auto;
    position: relative;
}



.swiper {
    width: 100%;
    height: 100%;
}

.quiz__step {
    margin-bottom: 4rem;
}

.quiz__step-title {
    color: #282828;
    font-size: 2.3rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 115.4%;
    margin-bottom: 2.7rem; 
    padding-top: 4rem;
}

.form-control {
    margin-bottom: 4rem;
}

.form-select__input {
    display: block;
    color: #282828;
    font-size: 1.4rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 115.4%;
    border: 0.1rem solid #D1D1D1;
    background: #F5F5F5;
    width: 64rem;
    min-height: 6.4rem;
    height: 100%;
    margin-left: 0.2rem;
    padding-left: 1rem;
}

.input.quiz__input {
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    position: relative;
    padding: 2rem 6.6rem;
    border: 1px solid #b3b3b3;
    margin-right: 11.9rem;
    margin-left: 0.2rem;
}

.field.input__field {
    background-color: #f5f5f5;
    margin-bottom: 0rem;
}



.check {
    display: block;
    padding-left: 1rem;
}

.check__input {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.check__box {
    position: absolute;
    width: 3rem;
    height: 3rem;
    margin-top: -1rem;
}

.check__input:checked + .check__box  {
    border-radius: 1.5rem;
    background: #1390CB;;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.4);
    background-image: url(/img/land/get-price/chekbox/cheked-circle.svg);
}


.check__img {
    display: block;
    max-width: 16rem;
    height: 10rem;
    object-fit: cover;
    width: 100%;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    border-radius: 4px;
    margin-bottom: 1rem;
}

.check__img--big {
    display: block;
    max-width: 16rem;
    height: 21.2rem;
    background-size: cover;
    width: 100%;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    border-radius: 4px;
    margin-bottom: 1rem;
}





.check__box {
    display: flex;
    align-items: flex-end;
    
}
// last checkbox
.check-last {
    padding-left: 3.5rem;
}

.check__input-last {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.check__box-last {
    position: absolute;
    width: 2rem;
    height: 2rem;
    box-shadow: 0 0 0 0.3rem #1390CB;
    margin-left: -2.7rem;
    margin-top: 0.2rem;
    background: #fff;
}

.check__input-last:checked + .check__box-last  {
    background: #fff;
    background-image: url(/img/land/get-price/chekbox/cheked.svg);
}



.form-select__cards {
    
}

.form-select__card1--small {
    display: flex;
    margin-bottom: 2rem;
}

.form-select__card1--big {
    display: flex;
    margin-bottom: 2rem;
    height: 21.2rem;
}