.faq{
    background: #FBFBFB;
}

.faq__container {

}

.faq__top {
    padding-top: 7.6rem;
    text-align: center;
}

.faq__top-title {
    color: #282828;
    font-family: 'Bebas', sans-serif;
    font-size: 4.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.faq-card__question-title {
    color: #424242;
    font-family: 'gilroy', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}


.faq__answer-desc {
    color: #464646;
    font-family: 'gilroy', sans-serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

