.market-header {
    padding-top: 57px;
    position: relative;
    z-index: 5;
  }
  
  .market-header__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 40px;
  }
  
  .market-header__logo {
    text-align: center;
  }
  
  .market-header__logo svg {
    margin-bottom: 10px;
  }
  
  .market-header__logo path {
    -webkit-transition: 200ms linear;
    transition: 200ms linear;
  }
  
  .market-header__logo span {
    display: block;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.5;
    -webkit-transition: 200ms linear;
    transition: 200ms linear;
  }
  
  .market-header__logo:hover path {
    opacity: 1;
  }
  
  .market-header__logo:hover span {
    opacity: 1;
  }
  
  .market-header__slogan {
    display: block;
    max-width: 265px;
    font-size: 14px;
    line-height: 130%;
    color: #ffffff;
    opacity: 0.5;
  }
  
  .market-header__tel {
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-align: right;
    letter-spacing: 0.05em;
    color: #ffffff;
  }
  
  .market-header__tel:hover {
    color: #c61508;
  }
  
  .market-header__btn {
    position: relative;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #c61508;
    margin-left: auto;
    margin-top: 8px;
  }
  
  .market-header__btn:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1px;
    width: 100%;
    background-color: #c61508;
    -webkit-transition: 200ms linear;
    transition: 200ms linear;
  }
  
  .market-header__btn:hover {
    color: #ffffff;
  }
  
  .market-header__btn:hover:after {
    background-color: #ffffff;
  }