.hero-thk {
    background: url(../img/thank-u/hero/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // background-size: contain;
    position: relative;
display: flex;
    
}

.hero-thk__content {
    display: flex;
}