.similar {
    background-image: url(/img/thank-u/similar/similar.jpg);
    background-repeat: no-repeat;
    // background-size: cover;
    background-size: contain;
    background-position: bottom right;
    position: relative;
}

.similar__container {
    
}

.similar__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.similar__content::before {
    content: "";
    background: #129EE1;
    position: absolute;
    width: 130.1rem;
    height: 100%;
    left: 0;
    clip-path: polygon(0 0, 100% 0%, 71.5% 100%, 0% 100%);
}

.similar__info {
    margin-bottom: 14.7rem;
    position: relative;
    z-index: 1;
}

.similar__info-title {
    color: #FFF;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    padding-top: 9.3rem;

}

.similar__info-desc {
    color: #FFF;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.similar__info-desc--bold {
    color: #FFF;
    font-size: 3.2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.similar {
    @media (max-width:$tablet) {
        .similar__content {
            display: block;
            padding-bottom: 3rem;
        }

        .similar__content::before {
            width: 55%;
            clip-path: none;
        }

        .similar__info {
            margin-bottom: 0rem;
        }

        .similar__info-title {
            padding-top: 2rem;
            font-size: 5rem;
        }

    }

    @media (max-width:$mobile) {

        .similar {
            background-position: bottom;
        }

        .similar__content {
            display: block;
        }

        .similar__info {
            padding-bottom: 22.7rem;
            margin-bottom: 0;
        }

        .similar__info-title {
            font-size: 2.5rem;
            padding-top: 5rem;
        
        }

        .similar__info-desc {
            font-size: 1.5rem;
        }

        .similar__info-desc--bold {
            font-size: 2.5rem;
        }

        .similar__content::before {
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 7% 76%, 0 100%, 0 75%, 0% 75%);
        }


    }
}



