.art {
    position: relative;
    background: #FBFBFB;
    
    z-index: 0;
}

.art__container {
    
}

.art__title {
    color: #232529;
    font-size: 7.7rem;
    font-family: 'bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    padding-top: 10.1rem;
    margin-left: -1rem;
}

.art__subtitle {
    color: #232529;
    font-size: 4.5rem;
    font-family: 'bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    padding-top: 5.5rem;
    margin-left: -1rem;
    padding-bottom: 3.45rem;
}

.art__subtitle::before {
    content: "";
    background: #F0C45B;
    position: absolute;
    z-index: -1;
    width: 154.1rem;
    height: 16.4rem;
    left: 0;
    top: 22.1rem;
    clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
}

.art__columns {
    display: grid;
    grid-template-columns: auto 58rem;
    
}

.art__column {
    padding-top: 5rem;
    padding-left: 6.4rem;
    display: flex;
    flex-direction: column;
    
}

.art__column:nth-of-type(2) {
    box-shadow: -20px 0px 74px 0px rgba(0, 0, 0, 0.05);
    background: #fff;
    margin-left: 0.7rem;
    margin-right: -1rem;
    padding-left: 9.7rem;
    padding-bottom: 3.8rem;
}

.art__column-card {
    display: flex;
}

.art__column-card:nth-child(2) {
    margin-top: -0.7rem;
}

.art__column-card:nth-child(3) {
    margin-top: -0.8rem;
}

.art__column-card:nth-child(4) {
    margin-top: -0.7rem;
}

.art__column-card:nth-child(5) {
    margin-top: -0.7rem;
}





.art__column-card::before {
    content: "";
    position: absolute;
    display: block;
    background: url(../img/land/art/check-mark.svg);
    background-size: contain;
    width: 2rem;
    height: 2rem;
    margin-top: 2.5rem;
    margin-left: -1.4rem;
}

.art__column-text {
    color: #282828;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 148.9%;
    padding-left: 2.5rem;
}

.art__column-text-bold {
    color: #129EE1;
    font-size: 2.4rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 148.9%;
}


