.bracing {

}

.bracing__container {

}

.bracing__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bracing__header-title {
    color: #232529;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    padding-top: 4.4rem;
    margin-left: -0.4rem;
    margin-bottom: 10rem;
}

.bracing__header-title::before {
    content: "";
    background: #F0C45B;
    position: absolute;
    z-index: -1;
    width: 57%;
    height: 25.1rem;
    margin-top: -4.4rem;
    left: 0;
    clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
}

.bracing__header-offer {
    margin-left: 18.5rem;
    padding-top: 4rem;
}

.bracing__header-offer-title {
    color: #282828;
    font-size: 9.8rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.bracing__header-offer-subtitle {
    color: #282828;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 116.9%;
    margin-top: 0.5rem;
}

.bracing__header-offer-subtitle-bold {
    color: #129EE1;
    font-weight: 700;
}

.bracing__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.bracing-card {
    border-radius: 3rem;
    background: #FFF;
    box-shadow: 0px 15px 74px 0px rgba(0, 0, 0, 0.05);
}

.bracing-card__media {
    padding-top: 4.6rem;
}

.bracing-card__media-pic {
    width: 100%;
    height: 100%;
}

.bracing-card__media-img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.bracing-card__content {
    padding-left: 2.5rem;
    padding-top: 3rem;
    margin-bottom: 5.3rem;
}

.bracing-card__title {
    color: #282828;
    font-size: 2.5rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.bracing-card__desc {
    color: #282828;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 116.9%;
    margin-top: 0rem;
}

.bracing__footer-title {
    color: #232529;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    background: #F0C45B;
    display: inline-block;
    padding-left: 3rem;
    padding-top: 0.3rem;
    padding-bottom: 2rem;
    padding-right: 10.8rem;
    margin-top: 8rem;
    margin-left: -0.4rem;
    clip-path: polygon(0 0, 94% 0, 100% 100%, 0% 100%);
}

.bracing__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.bracing__footer-media {
    width: 70rem;
    height: 70rem;
    margin-top: -7.2rem;
    margin-left: -7.6rem;
}

.bracing__footer-media-pic {
    width: 100%;
    height: 100%;
}

.bracing__footer-media-img {
    width: 100%;
    height: 100%;
}

.bracing__footer-content {
    margin-left: -2.8rem;
}

.bracing__footer-content-title {
    color: #282828;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    padding-top: 7rem;
}

.bracing__footer-content-desc {
    color: #282828;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 116.9%;
    padding-top: 0.5rem;
}

.bracing__footer-desc-bold {
    color: #129EE1;
    font-weight: 700;
    text-decoration: underline;
    font-size: 3rem;
    line-height: 125%;
}

.bracing__desc-bold {
    font-weight: 700;
}

.bracing {
    @media (max-width:$tablet) {
        .bracing__header-title::before {
            height: 28rem;
        }
    }

    @media (max-width:810px) {
        .bracing__footer {
            display: flex;
            flex-direction: column-reverse;
        }

        .bracing__footer-content-title {
            padding-top: 3rem;
        }

        .bracing__footer-content  br {
            display: none;
        }

        .bracing__footer-content {
            margin-left: 0rem;
        }
    }

    @media (max-width:768px) {
        .bracing__header-offer {
            margin-left: 8.5rem;
        }
    }

    @media (max-width:$mobile) {
        .bracing__header {
            display: block;
            padding-bottom: 1rem;
        }

        .bracing__header-title {
            font-size: 2.5rem;
            padding-top: 2rem;
            margin-bottom: 0rem;
        }

        .bracing__header-title::before {
            margin-top: -2rem;
            height: 10.1rem;
            width: 97%;
            clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
        }

        .bracing__header-offer {
            margin-top: 0rem;
            margin-left: 0rem;
        }

        .bracing__header-offer-title {
            font-size: 4rem;
        }

        .bracing__header-offer-subtitle {
            font-size: 1.5rem;
        }

        .bracing__gallery {
            display: block;
        }

        .bracing-card__title {
            font-size: 1.8rem;
            padding-bottom: 0.5rem;
        }

        .bracing-card__desc br {
            display: none;
        }

        .bracing-card__desc {
            font-size: 1.5rem;
            padding-right: 3.6rem;
        }

        .bracing-card__media {
            padding-top: 0rem;
            width: 100%;
            height: 12rem;
        }

        .bracing-card__content {
            padding-left: 1.5rem;
            padding-bottom: 2.3rem;
            margin-bottom: 1.6rem;
        }

        .bracing__footer-title {
            font-size: 2.5rem;
            margin-top: 1.3rem;
            padding-right: 4.8rem;
            padding-left: 0.8rem;
            padding-top: 2rem;
            margin-left: -1.3rem;
            clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
        }

        .bracing__footer-content-title {
            font-size: 1.5rem;
            padding-top: 2rem;
        }

        .bracing__footer-content-desc {
            font-size: 1.5rem;
        }

        .bracing__footer-desc-bold {
            font-size: 1.8rem;
        }

        .bracing__desc-bold {
            font-size: 2.2rem;
        }

        .bracing__footer-media {
            width: 29rem;
            height: 25rem;
            margin-top: -4rem;
            margin-left: 0rem;
        }

        
    }
}