.ceil-types {

}

.ceil-types_container {

}

.ceil-types__top-title {
    color: #232529;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.ceil-types__top-title-upper {
    font-size: 7.7rem;
    color: #0742b8;
}

.ceil-types__gallery {

}

.ceil-types-card {

}

.ceil-types-card__media {

}

.ceil-types-card__img {

}

.ceil-types__content {

}

.ceil-types-card__title {
    color: #282828;
    text-align: center;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.ceil-types-card__desc {
    color: #282828;
    text-align: center;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 116.9%;
}

.ceil-types__bottom-title {
    color: #232529;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.ceil-types__bottom-subtitle {
    color: #282828;
    font-size: 2.5rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.ceil-types__bottom-subtitle-bold {
    font-weight: 700;
}