.ceil-types {
    position: relative;
}

.ceil-types::before {
    content: "";
    background: #FBFBFB;
    position: absolute;
    left: 0;
    margin-top: 50.5rem;
    z-index: -1;
    width: 84%;
    height: 139.2%;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);

}



.ceil-types_container {

}

.ceil-types__top-title {
    color: #232529;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    padding-top: 19.4rem;
}

.ceil-types__top-title::before {
    content: "";
    background: #FFCE56;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 40rem;
    left: 0;
    margin-top: -10.4rem;
    clip-path: polygon(8% 0%, 92.3% 0%, 100% 35%, 100% 100%, 0 100%, 0% 35%);
}

.ceil-types__top-title-upper {
    font-size: 7.7rem;
    color: #FFF;
}

.ceil-types__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4.2rem;
}

.ceil-types__gallery::after {
    content: "";
    background: #139EE1;
    position: absolute;
    right: 0;
    margin-top: 28rem;
    z-index: -1;
    width: 44.6%;
    height: 129.4%;
    -webkit-clip-path: polygon(0 65%, 100% 0, 100% 100%, 60.5% 100%);
    clip-path: polygon(0 65%, 100% 0, 100% 100%, 61% 100%);
}

.ceil-types-card {
    padding-top: 7.5rem;
}

.ceil-types-card__media {
    width: 25.5rem;
    height: 20rem;
    
}

.ceil-types-card__pic {
    width: 100%;
    height: 100%;
}

.ceil-types-card__img {
    object-fit: contain;
    border-radius: 3rem;
    width: 100%;
    height: 100%;
}

.ceil-types__content {

}

.ceil-types-card__title {
    color: #282828;
    text-align: center;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    padding-top: 3.8rem;
    margin-left: -0.5rem;
}

.ceil-types-card__desc {
    color: #282828;
    text-align: center;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 116.9%;
    margin-top: 0.2rem;
}

.ceil-types__bottom {
    display: flex;
    margin-top: 10.2rem;
    margin-bottom: 10.2rem;
}

.ceil-types__bottom-title {
    color: #232529;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.ceil-types__bottom-title::before {
    content: "";
    background: #F0C45B;
    position: absolute;
    z-index: -1;
    width: 49.4%;
    height: 16.4rem;
    margin-top: -4.4rem;
    left: 0;
    -webkit-clip-path: polygon(0 0, 91% 0, 100% 100%, 12.2% 100%, 0% 49.2%);
    clip-path: polygon(0 0, 100% 0%, 91% 100%, 0% 100%);
}


.ceil-types__bottom-subtitle {
    color: #282828;
    font-size: 2.5rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    padding-left: 14.8rem;
    margin-top: -0.5rem;
}

.ceil-types__bottom-subtitle-bold {
    font-weight: 700;
}

.ceil-types__gallery:nth-of-type(2) {
    padding-top: 2rem;
}

.ceil-types-bottom__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4.2rem;
    padding-bottom: 10rem;
}

.ceil-types-bottom-card {
    margin-bottom: -0.2rem;
    background: #FFF;
    box-shadow: 0px 15px 74px 0px rgba(0, 0, 0, 0.05);
    border-radius: 3rem;
}

.ceil-types-bottom-card__media {
    width: 25.5rem;
    height: 20rem;
}

.ceil-types-bottom-card__pic {
    width: 100%;
    height: 100%
}

.ceil-types-bottom-card__img {
    object-fit: contain;
    border-radius: 3rem;
    width: 100%;
    height: 100%;
}

.ceil-types-bottom-card__title {
    color: #282828;
    text-align: center;
    font-size: 2rem;
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    padding-top: 3.8rem;
    margin-left: -0.9rem;
}

.ceil-types-bottom-card__desc {
    color: #282828;
    text-align: center;
    font-size: 2rem;
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 116.9%;
    margin-top: 0.2rem;
    padding-bottom: 1.7rem;
}

.ceil-types {
    @media (max-width:1024px) {
        .ceil-types__gallery {
            gap: 1rem;
        }

        .ceil-types-card__media {
            width: 23.9rem;
            height: 19rem;
        }

        .ceil-types-card__title {
            padding-top: 1.8rem;
        }

        .ceil-types-bottom__gallery {
            gap: 2rem;
        }

        .ceil-types-bottom-card__media {
            width: 23.5rem;
            height: 18.4rem;
        }

        .ceil-types-bottom-card__title {
            padding-top: 1.8rem;
        }
    }

    @media (max-width:$tablet) {
        .ceil-types-card__media {
            width: 22rem;
            height: 18rem;
        }

        .ceil-types-card__desc br {
            display: none;
        }

        .ceil-types-bottom-card__media {
            width: 22.5rem;
            height: 17.8rem;
        }

        .ceil-types-bottom-card__desc br {
            display: none;
        }

        .ceil-types-bottom-card__title {
            font-size: 1.8rem;
        }

        .ceil-types-bottom-card__desc {
            font-size: 1.8rem;
        }
    }

    @media (max-width:810px) {
        .ceil-types__top-title {
            margin-bottom: 5rem;
        }

        .ceil-types__gallery {
            grid-template-columns: 1fr 1fr;
        }

        .ceil-types-card {
            padding-top: 0rem;
        }

        .ceil-types-card__media {
            width: 36rem;
            height: 28rem;
            margin-left: auto;
            margin-right: auto;
        }

        .ceil-types-card__title {
            text-align: center;
        }

        .ceil-types__bottom-title {
            font-size: 4.4rem;
        }

        .ceil-types__bottom-title::before {
            height: 14.3rem;
        }
        
        .ceil-types__bottom-subtitle {
            font-size: 2.3rem;
            padding-left: 6.8rem;
        }

        .ceil-types-bottom__gallery {
            grid-template-columns: 1fr 1fr;
        }

        .ceil-types-bottom-card__media {
            margin-left: auto;
            margin-right: auto;
            width: 37.5rem;
            height: 29.8rem;
        }
    }

    @media (max-width:768px) {
        .ceil-types-bottom-card__media {
            margin-left: auto;
            margin-right: auto;
            width: 36rem;
            height: 28rem;
        }
    }

    @media (max-width:$mobile) {
        .ceil-types__top-title {
            font-size: 2rem;
            padding-top: 5.4rem;
            text-align: center;
        }

        .ceil-types__top-title-upper {
            font-size: 3rem;
        }

        .ceil-types__top-title::before {
            margin-top: -2.3rem;
            height: 9.5rem;
            clip-path: polygon(11% 0%, 88.3% 0%, 100% 35%, 100% 100%, 0 100%, 0% 35%);
        }

        .ceil-types__gallery::after {
            display: none;
        }

        .ceil-types__gallery {
            display: block;
        }

        .ceil-types-card__media {
            width: 29rem;
            height: 11rem;
        }

        .ceil-types__content:nth-of-type(2) {
            padding-top: 0.43rem;
        }

        .ceil-types-card__title {
            font-size: 1.8rem;
        }

        .ceil-types-card__desc {
            font-size: 1.5rem;
        }

        .ceil-types-card__title {
            padding-top: 2.8rem;
        }

        .ceil-types__bottom {
            display: block;
            margin-top: 6.9rem;
            margin-left: -0.5rem;
            margin-bottom: 1.2rem;
        }

        .ceil-types__bottom-title {
            font-size: 2.5rem;
        }
        
        .ceil-types__bottom-subtitle {
            padding-left: 0rem;
            font-size: 1.5rem;
        }

        .ceil-types__bottom-title {
            padding-bottom: 4.6rem;
        }

        .ceil-types__bottom-title::before {
            height: 6.5rem;
            margin-top: -1.9rem;
            width: 96%;
            clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
        }

        .ceil-types-bottom__gallery {
            display: block;
            padding-bottom: 5rem;
        }

        .ceil-types-bottom-card__media {
            width: 29rem;
            height: 12.8rem;
        }

        .ceil-types-bottom-card__desc {
            font-size: 1.5rem;
        }

        .ceil-types-card__title {
            padding-top: 2.4rem;
        }

        
    }
}


.ceil-types::before {
    @media (max-width:$mobile) {
        margin-top: 0rem;
        width: 100%;
        height: 100%;
        clip-path: none;
    }  
}