.cta {
    background-image: url(/img/land/may/24bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.lead__cta-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13.7rem 45rem 0 44rem;
    border-color: #fff transparent transparent transparent;
    margin-top: -0.1rem;
    margin-left: -26rem;
}

.cta__media {
    position: absolute;
    margin-left: 13.4rem;
    width: 9.2rem;
    height: 8rem;
}

.cta_container {
    max-width: 38rem;
}


.lead__cta {
    
}

.lead__cta-title {
    color: #282828;
    text-align: center;
    font-size: 6.5rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    padding-top: 31.5rem;
}

.lead__cta-title::before {
    content: "";
    background: #fff;
    position: absolute;
    z-index: -1;
    width: 43.4rem;
    height: 59.8rem;
    margin-left: -8.7rem;
    margin-top: -3.4rem;

}

.lead__cta-subtitle {
    color: #232529;
    text-align: center;
    font-size: 2.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    margin-top: 1.6rem;
}

.cta-lead__form {
    position: relative;
    display: grid;
    gap: 2.4rem;
    width: 100%;
    margin-top: 3.7rem;
}

.lead__cta-text {
    color: #282828;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 2.7rem;
    padding-bottom: 15rem;
}

.cta__input {
    border-radius: 8rem;
    border: 0.1rem solid #EFEFEF;
}

.cta {
    @media (max-width:1024px) {
        .lead__cta-triangle {
            margin-left: -27rem;
        }

        .cta__media {
            margin-left: 12.7rem;
        }
    }

    @media (max-width:$mobile) {
        .cta__media {
            width: 29rem;
            height: 27rem;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .lead__cta-triangle {
            margin-left: -0.5rem;
            border-width: 5rem 14.9rem 0 14.9rem;
        }

        .lead__cta-title {
            font-size: 3rem;
            padding-top: 12.1rem;
        }

        .lead__cta-title::before {
            height: 75%;
        }

        .lead__cta-subtitle {
            font-size: 1.8rem;
            margin-top: 0.6rem;
        }

        .input__field {
            font-size: 1.5rem;
        }

        .btn__text {
            font-size: 1.5rem;
        }

        .lead__cta-title::before {
            width: 29rem;
        }

        .cta-lead__form {
            margin-top: 0rem;
            padding-right: 1rem;
            padding-left: 1rem;
            gap: 1.3rem;
        }

        .cta__input {
            padding: 1.2rem 5.9rem;
        }

        .btn {
            padding: 1.6rem 6.7rem;
        }

        .lead__cta-text {
            font-size: 1.2rem;
            padding-bottom: 7.7rem;
        }
        
    }
}
