.cta {

}

.cta_container {

}

.cta__media {

}

.lead__cta {

}

.lead__cta-title {
    color: #282828;
    text-align: center;
    font-size: 6.5rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.lead__cta-subtitle {
    color: #232529;
    text-align: center;
    font-size: 2.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.lead__cta-text {
    color: #282828;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}