.understand {
    position: relative;
    
}

.understand-container {
    display: grid;
    grid-template-columns: 68.8rem auto;
    
}

.understand__media {
    width: 100%;
    margin-top: -4rem;
    margin-left: -12.3rem;
    
}

.understand__pic {
    width: 100%;
    height: 100%;
}

.understand__img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.understand__info {
    position: relative;
    z-index: 4;
    margin-left: -14.1rem;
}

.understand__info-title {
    position: relative;
    padding-top: 8rem;
    padding-left: 0.3rem;
    color: #232529;
    font-size: 5.6rem;
    font-family: 'bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    text-transform: uppercase;
}

.understand__info-desc {
    position: relative;
    margin-top: 2.1rem;
    padding-left: 0.3rem;
    color: #232529;
    font-size: 2.4rem;
    font-family: 'bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    text-transform: uppercase;

}

.understand__info-desc::before {
    content: "";
    background: #F0C45B;
    position: absolute;
    z-index: -2;
    top: -0.8rem;
    left: -0.84rem;
    height: 7.5rem;
    width: 46rem;
    clip-path: polygon(0 0, 93.20% 0, 100% 100%, 0% 100%);
}

.understand__column {
    
    
}

.understand__column-card {
    display: flex;
    margin-top: -0.2rem;
}

.understand__column-card:nth-of-type(2) {
    margin-top: 1.4rem;
}

.understand__column-card:nth-of-type(3) {
    margin-top: 0.5rem;
}

.understand__column-card:nth-of-type(4) {
    margin-top: 0.8rem;
}

.understand__column-img {
    margin-left: 0.3rem;
    width: 5rem;
    height: 5rem;
}
    

.understand__column-desc {
    position: relative;
    color: #282828;
    font-size: 1.8rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 148.9%;
    margin-top: 0rem;
    margin-left: 3rem;
}

.experience {
    position: relative;
}

.experience__container {
    display: grid;
    grid-template-columns: auto 73.2rem;
}

.experience__offer {
    position: relative;
    margin-left: -1.5rem;
    margin-top: 0.3rem;
}

.experience__offer-title {
    display: block;
    color: #232529;
    font-size: 5.6rem;
    font-family: 'bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    padding-left: 1.1rem;
}

.experience__offer-text-cross {
    display: block;
    color: rgba(40, 40, 40, 0.20);
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 148.9%;
    text-decoration: line-through;
    padding-left: 1.1rem;
    margin-top: 0rem;
}

.experience__offer-desc {
    display: block;
    color: #282828;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 148.9%;
    padding-left: 1.1rem;
    margin-top: 2.8rem;
}

.exeperience__media {
    width: 100%;
    margin-top: -5.5rem;
    margin-left: 1rem;
    height: 35rem;
}

.exeperience__media-pic {
    width: 100%;
    height: 100%;
}

.exeperience__media-img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.understand {
    @media (max-width:1024px){
        .understand__column-card:nth-of-type(2) {
            margin-top: 0rem;
        }
    }

    @media (max-width:$tablet){
        .understand__info {
            margin-left: -23.1rem;
        }
    }

    @media (max-width:810px){
        .understand-container {
            grid-template-columns: 1fr 1fr;
        }

        .understand__info {
            margin-left: -5rem;
        }

        .understand__media {
            width: 40rem;
            margin-left: 0rem;
        }

        .understand__info-title {
            padding-top: 3rem;
            font-size: 4rem;
        }

        .understand__info-desc br {
            display: none;
        }

        .understand__info-desc {
            font-size: 2rem;
            margin-bottom: 3rem;
        }

        .understand__info-desc::before {
            width: 44.5rem;
        }

        .understand__column-desc br {
            display: none;
        }

        .understand__column-desc {
            font-size: 1.6rem;
            margin-left: 1rem;
        }
    }

    @media (max-width:$mobile) {
        .understand-container {
            display: block;
        }

        .understand__media {
            position: absolute;
            margin-top: 51.6rem;
            width: 32.2rem;
            margin-left: -2.3rem;
        }

        .understand__info {
            margin-left: 0rem;
            margin-top: 8.9rem;
            margin-bottom: 30rem;
        }

        .understand__info-title {
            font-size: 3rem;
            margin-left: -0.8rem;
        }

        .understand__info-desc br {
            display: none;
        }

        .understand__info-desc {
            width: 80%;
            font-size: 1.8rem;
            margin-top: 3.2rem;
            margin-left: -0.6rem; 
            margin-bottom: 2.7rem;
        }

        .understand__info-desc::before {
            left: -1.5rem;
            height: 8.1rem;
            width: 31.6rem;
        }

        .understand__column-img {
            width: 3rem;
            height: 3rem;
            margin-left: -0.5rem;
        }
        
        .understand__column-desc {
            margin-left: 1.4rem;
            line-height: 2.2rem;
        }

        .understand__column-card:nth-of-type(2) {
            margin-top: 0.8rem;
        }

        .understand__column-card:nth-of-type(3) br {
            display: none;
        }
    }
}

.experience {
    @media (max-width:1024px){
        .exeperience__media {
            margin-top: -2.3rem;
        }
    }

    @media (max-width:$tablet){
        .exeperience__media {
            margin-top: 5.7rem;
        }
    }

    @media (max-width:$tablet){
        .exeperience__media {
            margin-top: 5.7rem;
        }
    }

    @media (max-width:810px){
        .experience__container {
            grid-template-columns: 1fr 1fr;
        }

        .exeperience__media {
            margin-top: 0rem;
            width: 45rem;
            height: 100%;
        }

        .exeperience__media-img {
            object-position: bottom;
        }
    }

    @media (max-width:768px){
        .experience__offer-desc br {
            display: none;
        }
    }

    @media (max-width:$mobile){
        .experience__container {
            display: block;
        }

        .experience__offer {
            padding-top: 1.7rem;
            
        }

        .experience__offer-title{
            font-size: 3rem;
            padding-bottom: 1.4rem;
        }

        .experience__offer-text-cross {
            font-size: 1.5rem;
        }

        .experience__offer-desc {
            font-size: 1.5rem;
            margin-top: 2.2rem;
        }

        .exeperience__media {
            width: 35rem;
            margin-left: -3.9rem;  
            margin-top: -0.8rem;
        }
    }
}

