.facepalm {
    
}

.facepalm_container {

}

.facepalm__title {
    color: #232529;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    padding-top: 4.3rem;
    padding-bottom: 7.2rem;
}

.facepalm__title::before {
    content: "";
    background: #F0C45B;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 22.8rem;
    margin-top: -4.4rem;
    left: 0;
    -webkit-clip-path: polygon(0 0, 89% 0, 100% 100%, 12.2% 100%, 0% 49.2%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 8.8% 100%, 0% 50.2%);
}

.facepalm__content {
    display: grid;
    grid-template-columns: 65rem auto;
}

.facepalm__info {

}

.facepalm__info-title {
    color: #282828;
    font-size: 3rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 148.9%;
}

.facepalm__info-subtitle {
    color: #282828;
    font-size: 2.2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 148.9%;
}

.facepalm__info-desc {
    color: #282828;
    font-size: 2.2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 148.9%;
    padding-top: 1rem;
}

.facepalm__text-hl {
    font-weight: 700;
   
}


.facepalm__text-hl::before {
    content: "";
    background: #F0C45B;
    position: absolute;
    z-index: -1;
    width: 40.7%;
    height: 11rem;
    margin-top: -2rem;
    left: 0;
    clip-path: polygon(0 0, 100% 0%, 91% 100%, 0% 100%);
}

.facepalm__media {
    width: 69rem;
    height: 79rem;
    margin-left: -11rem;
    margin-top: -33rem;
}

.facepalm__media-img {
    width: 100%;
    height: 100%;
}

.facepalm__position {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 4.7rem;
    margin-bottom: 5rem;
    border-radius: 4rem;
    background: #FFF;
    box-shadow: 0rem 1.5rem 7.4rem 0rem rgba(0, 0, 0, 0.05);
}

.facepalm__better {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding-left: 9.7rem;
}

.facepalm__better-title {
    color: #0AA4D4;
    font-size: 4rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    margin-bottom: 2rem;
}

.facepalm__better-desc {
    color: #282828;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}

.facepalm__worse {
    margin-left: 2.1rem;
}

.facepalm__worse-title {
    color: #F0C45B;
    font-size: 4rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.facepalm__worse-desc {
    color: #282828;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    margin-top: -2.4rem;
}

.facepalm {
    @media (max-width:1280px) {
        .facepalm__media {
            width: 66rem;
        }
    }

    @media (max-width:1024px) {
        .facepalm__title {
            font-size: 5rem;
            padding-left: 3rem;
        }

        .facepalm__content {
            grid-template-columns: 1fr 1fr;
        }

        .facepalm__info-title {
            font-size: 2.7rem;
        }

        .facepalm__info-title br {
            display: none;
        }

        .facepalm__info-subtitle {
            font-size: 2rem;
        }

        .facepalm__info-desc {
            font-size: 2rem;
        }

        .facepalm__media {
            margin-left: -8rem;
        }

        .facepalm__text-hl::before {
            width: 35%;
        }
    }

    @media (max-width:$tablet) {
        .facepalm__media {
            margin-top: -29rem;
        }
    }

    @media (max-width:810px) {
        .facepalm__title {
            font-size: 5.7rem;
            padding-left: 0rem;
            text-align: center;
        }

        .facepalm__info-title {
            font-size: 2.5rem;
        }

        .facepalm__media {
            width: 50rem;
            height: 60rem;
            margin-top: -12rem;
        }

        .facepalm__info-title {
            font-size: 2.4rem;
        }

        .facepalm__info-subtitle {
            font-size: 1.9rem;
        }

        .facepalm__info-desc {
            font-size: 1.8rem;
        }

        .facepalm__text-hl::before {
            width: 39%;
            height: 10rem;
        }

        .facepalm__better {
            padding-left: 5rem;
        }

        .facepalm__better-desc br {
            display: none;
        }

        .facepalm__worse {
            padding-right: 5rem;
        }

        .facepalm__worse-desc br {
            display: none;
        }
    }

    @media (max-width:$mobile) {
        .facepalm__title {
            font-size: 2.5rem;
            padding-top: 2.6rem;
            margin-left: -4.7rem;
            padding-bottom: 2.3rem;
        }

        .facepalm__title::before {
            height: 12.5rem;
            width: 96%;
            clip-path: polygon(0 0, 88% 0, 100% 100%, 0% 100%);
        }

        .facepalm__content {
            display: block;
        }

        .facepalm__info-title {
            font-size: 1.8rem;
        }

        .facepalm__info-subtitle {
            font-size: 1.5rem;
        }

        .facepalm__info-desc {
            font-size: 1.5rem;
            padding-top: 0.3rem;
        }

        .facepalm__text-hl::before {
            margin-top: -1rem;
            height: 7rem;
            width: 85%;
        }

        .facepalm__media {
            width: 30rem;
            height: 37rem;
            margin-top: -1rem;
            margin-left: -1rem;
            z-index: -1;
            position: relative;
        }

        .facepalm__position {
            display: block;
            margin-top: -4.2rem;
            background: none;
            box-shadow: none;
            margin-bottom: -5rem;
        }

        .facepalm__better-title {
            font-size: 2rem;
        }

        .facepalm__better-desc {
            font-size: 1.5rem;
            margin-top: -1rem;
        }

        .facepalm__worse-title {
            font-size: 2rem;
        }

        .facepalm__worse-desc {
            font-size: 1.5rem;
            margin-top: -0.8rem;
        }

        .facepalm__better {
            padding-left: 1.5rem;
            padding-right: 1rem;
            padding-top: 0.4rem;
            padding-bottom: 1.5rem;
            margin-bottom: 1.4rem;
            background: #FFF;
            border-radius: 4rem;
            box-shadow: 0rem 1.5rem 7.4rem 0rem rgba(0, 0, 0, 0.05);
        }

        .facepalm__worse {
            margin-left: 0rem;
            padding-left: 1.5rem;
            padding-right: 3.4rem;
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
            background: #FFF;
            border-radius: 4rem;
            box-shadow: 0rem 1.5rem 7.4rem 0rem rgba(0, 0, 0, 0.05);
        }
    }
}