.get-price {
    background: #FBFBFB;
    background-size: cover;
}

.get-price_container {

}

.get-price__top {
    display: grid;
    grid-template-columns: auto 64rem;
}

.get-price__title-desc {
    color: #232529;
    font-size: 4.75rem;
    font-family: 'bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    margin-top: 9.8rem;
    margin-left: -1rem;
}

.get-price__features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.7rem;
    margin-left: -0.9rem;
    margin-top: 9.8rem; 
    
}

.get-price-feature {
    position: relative;
    border-radius: 2.1rem;
    background: #fff;
    width: 21rem;
    height: 21rem;
    padding-left: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
}

.get-price-feature:nth-child(1) {
    padding-top: 5.3rem;
}

.get-price-feature:nth-child(3) {
    padding-top: 4.5rem;
    padding-left: 2rem;
}

.get-price-feature:nth-child(2) {
    padding-top: 4.5rem;
}



.get-price__item-img {

}

.get-price-feature__desc {
    color: #282828;
    font-size: 1.28rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 115.4%;
    padding-top: 2.3rem;
}



.get-price__quiz {
    display: grid;
    grid-template-columns: auto 40rem;
}


.quiz__hint {
    background: #FFF;
    margin-left: 5rem;
    margin-right: -1.4rem;
    margin-top: 5.1rem;
    margin-bottom: 10rem;
}

.get-price__end-title {
    color: #282828;
    font-size: 1.8rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 115.4%;
    padding-top: 3rem;
    padding-left: 3rem;
    margin-bottom: 1rem;
}

.get-price__end-subtitle {
    color: #282828;
    font-size: 1.5rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    padding-left: 3rem;
    margin-bottom: 21.7rem;
    margin-top: 0rem;
}

.get-price__boss-title {
    color: #282828;
    font-size: 1.8rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 115.4%;
    padding-left: 2.9rem;
}

.get-price__boss-subtitle {
    color: #282828;
    font-size: 1.5;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    margin-top: -1.2rem;
    padding-left: 2.9rem;
    padding-bottom: 3rem;
}