.hard {

}

.hard__container {

}

.hard__content {

}

.hard__title {
    color: #232529;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.hard__subtitle {
    color: #282828;
    font-size: 2.6rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 148.9%;
}

.hard__desc {
    color: #282828;
    font-size: 2.6rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 148.9%;
}

.hard__text-bold-hl {
    font-weight: 700;
}

.hard__media {

}

.hard__media-img {

}

