.hell {
    background: #F4F4F4;
    position: relative;
    padding-top: 7.3rem;
    z-index: -2;
    
}

.hell__container {
    height: auto;
}

.hell__content {
    
    
}

.hell__title {
    
    max-width: 56rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #F0C45B;
    padding-top: 5.5rem;
    padding-bottom: 4.5rem;
    font-family: "bebas", sans-serif;
    font-weight: 700;
    color: #232529;
    font-size: 7.09rem;
    line-height: 116.9%;
    text-transform: uppercase;
    margin-bottom: 12.75rem;
    
}

.hell__content {
    display: grid;
    grid-template-columns: auto 56rem ;
}


.hell__info {
position: relative;
}

.hell__info::before{
    content: "!";
    position: absolute;
    display: block;
    color: #fff;
    margin-left: -3.9rem;
    margin-top: 14.2rem;
    font-size: 35rem;
}

.hell__info-title {
    color: #232529;
    font-size: 5.64rem;
    font-family: "bebas", sans-serif;
    font-weight: 700;
    line-height: 116.9%;
    position: relative;
    margin-left: 5.5rem;
    margin-bottom: 8.8rem;
    
}

.hell__info-title::before {
    content: "";
    position: absolute;
    display: block; 
    width: 59.7rem;
    height: 22rem;
    top: -3.5rem;
    left: -4.97rem;
    padding-right: 6.2rem;
    
    border: 0.7rem solid #FFFFFF ;
    transform: skew(0.485turn, 0deg);
}

.hell__info-desc {
    color: #282828;
    font-size: 1.8rem;
    font-family: "roboto", sans-serif;
    line-height: 148.9%;
    font-style: normal;
    font-weight: 400;
    margin-left: 6.8rem;
    position: relative;
}

.hell__info-desc:nth-of-type(2) {
    padding-top: 0.7rem;

}

.hell__info-desc:nth-of-type(3) {
    padding-top: 1rem;

}

.hell__info-desc:nth-of-type(4) {
    padding-top: 1rem;
    margin-bottom: 9.5rem;
}

.hell-text--bold {
    font-family: "roboto", sans-serif;
    font-weight: 700;
}

.hell-text--hl {
    display: inline-block;
    font-family: "roboto", sans-serif;
    font-weight: 700;
    background: #fff;
    margin-top: -1.3rem;
    margin-left: -7.8rem;
    padding-left: 7.8rem;
    padding-right: 4.4rem;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
}


.hell__media {
    display: block;

}

.hell__media-char {
    margin-top: -16.8rem;
    object-fit: contain;
    padding-left: 0.4rem;
    height: 60.4rem;
}

.hell__media-desc {
    white-space: nowrap;
    display: inline-block;
    color: #232529;
    text-align: center;
    font-size: 2.4rem;
    font-family: "bebas", sans-serif;
    font-weight: 700;
    line-height: 120.9%;
    background: #F0C45B;
    text-transform: uppercase;
    margin-top: -0.9rem;
    margin-left: 1rem;
    padding-top: 2.2rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
    padding-right: 5.5rem;
}

.hell {
    @media (max-width:1024px) {
        .hell__info-title {
            font-size: 4.5rem;
        }

        .hell__info::before {
            margin-left: -3.2rem;
            margin-top: 10.2rem;
        }

        .hell__info-title::before {
            width: 47rem;
            height: 18rem;
        }

        .hell__info-desc {
            font-size: 1.6rem;
            padding-bottom: 1.2rem;
        }

        .hell__info-desc br {
            display: none;
        }
    }

    @media (max-width:$tablet) {
        .hell__title {
            margin-bottom: 7.7rem;
        }

        .hell__media-char {
            margin-top: -12.8rem;
        }

        .hell__info-title {
            font-size: 4.2rem;
        }

        .hell__info::before {
            margin-top: 11.2rem;
        }

        .hell__info-desc {
            font-size: 1.7rem;
        }
    }

    @media (max-width:810px) {
        .hell__content {
            display: block;
            padding-bottom: 2rem;
        }

        .hell__info::before {
            font-size: 30rem;
            margin-left: -2.2rem;
            margin-top: 5.5rem;
        }

        .hell__info-title::before {
            width: 76rem;
            height: 12rem;
        }

        .hell__info-title br {
            display: none;
        }

        .hell__info-desc {
            font-size: 2.5rem;
        }

        .hell__info-desc:nth-of-type(2) {
            margin-left: 1rem;
        }

        .hell__info-desc:nth-of-type(3) {
            margin-left: 1rem;
        }

        .hell__media {
            text-align: center;
        }

        .hell__media-char {
            margin-top: -8.8rem;
        }

        .hell__media-desc {
            display: block;
            font-size: 3.5rem;
            margin-left: 0rem;
            margin-right: 0rem;
            margin-top: -0.4rem;
        }
    }

    @media (max-width:$mobile) {
        .hell__title {
            font-size: 2.5rem;
            margin-top: -2.1rem;
            padding-top: 2.1rem;
            padding-bottom: 2.9rem;
            margin-bottom: 3.6rem;
        }

        .hell__info-title {
            font-size: 2.5rem;
            margin-left: 2.5rem;
            width: 25rem;
            margin-bottom: 5.2rem;
        }

        .hell__info-title::before {
            width: 28.4rem;
            height: 9.5rem;
            left: -2.4rem;
            right: 0;
            top: -1.6rem;
            border: 0.4rem solid #FFFFFF;
        }

        .hell__info-desc{
            font-size: 1.5rem;
            margin-left: 3.1rem;
        }

        .hell__info-desc:nth-of-type(2) {
            margin-left: -0.5rem;
            margin-top: -1.5rem;
        }

        .hell__info-desc:nth-of-type(3) {
            margin-left: -0.5rem;
            margin-top: 2.1rem;
        }

        .hell-text--hl {
            font-size: 1.5rem;
            padding-left: 0rem;
            margin-left: -3.5rem;
            margin-top: -2.4rem;
        }

        .hell__info::before {
            font-size: 22rem;
            margin-left: -2.2rem;
            margin-top: 6rem;
        } 

        .hell__media-char {
            height: 37rem;
            margin-top: -8rem;
            margin-left: -4.5rem;
            position: relative;
            z-index: -1;
        }

        .hell__media-desc br {
            display: none;
        }

        .hell__media-desc {
            white-space: normal;
            margin-top: -7.5rem;
            font-size: 1.8rem;
            padding-right: 1rem;
            padding-left: 1.5rem;
            padding-top: 1rem;
            padding-bottom: 1.5rem;
            margin-left: -0.5rem;
            margin-right: -0.5rem;
        }

        .hell__media {
            padding-bottom: 1.5rem;
        }
    }
}