.hell {
    background: #F4F4F4;
    position: relative;
    padding-top: 7rem;
    z-index: -2;
    
}

.hell__container {
    height: auto;
}

.hell__content {
    
    
}

.hell__title {
    
    max-width: 56rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #F0C45B;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    font-family: "bebas", sans-serif;
    font-weight: 700;
    color: #232529;
    font-size: 7.09rem;
    line-height: 116.9%;
    text-transform: uppercase;
    margin-bottom: 12.6rem;
    
}

.hell__content {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}


.hell__info {
position: relative;
}

.hell__info::before{
    content: "!";
    position: absolute;
    display: block;
    color: #fff;
    margin-left: -2.4rem;
    margin-top: 14.2rem;
    font-size: 35rem;
}

.hell__info-title {
    color: #232529;
    font-size: 5.64rem;
    font-family: "bebas", sans-serif;
    font-weight: 700;
    line-height: 116.9%;
    position: relative;
    margin-left: 6.5rem;
    margin-bottom: 9.1rem;
    
}

.hell__info-title::before {
    content: "";
    position: absolute;
    display: block;
    max-width: 58.4rem;
    width: 100%;
    height: 20.6rem;
    top: -3.2rem;
    left: -4.7rem;
    
    border: 0.7rem solid #FFFFFF ;
    transform: skew(0.485turn, 0deg);
}

.hell__info-desc {
    color: #282828;
    font-size: 1.8rem;
    font-family: "roboto", sans-serif;
    line-height: 148.9%;
    font-style: normal;
    font-weight: 400;
    margin-left: 7.9rem;
    position: relative;
}

.hell__info-desc:nth-of-type(2) {
    padding-top: 1.1rem;

}

.hell__info-desc:nth-of-type(3) {
    padding-top: 1.1rem;

}

.hell__info-desc:nth-of-type(4) {
    padding-top: 0.8rem;
    margin-bottom: 10.2rem;
}

.hell-text--bold {
    font-family: "roboto", sans-serif;
    font-weight: 700;
}

.hell-text--hl {
    font-family: "roboto", sans-serif;
    font-weight: 700;
}

.hell-text--hl::before {
    content: "";
    position: absolute;
    background: #fff;
    width: 40.6rem;
    height: 6.9rem;
    top: 0rem;
    left: -8rem;
    z-index: -1;
    
}

.hell__media {
    display: block;
}

.hell__media-char {
    margin-top: -16.4rem;
    object-fit: contain;
    padding-left: 2rem;
}

.hell__media-text {
    color: #232529;
    text-align: center;
    font-size: 23.96px;
    font-family: "bebas", sans-serif;
    font-weight: 700;
    line-height: 116.9%;
    background: #F0C45B;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-transform: uppercase;
    margin-top: -0.5rem;
}