.hero {
    background: url(../img/land/hero/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // background-size: contain;
    position: relative;
    padding-bottom: 5rem;
    
}

.hero__container {
    
    max-width: 117rem;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: auto;
}

.hero__content {
    display: flex;
    margin-bottom: 12rem;
}

.hero__offer {
    display: block;
    padding-top: 14rem;
    
}

.hero__offer-title {
    -webkit-text-stroke: 0.1rem #000000;
    text-stroke: 0.1rem #000000;
    font-family: "bebas", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 116.9%;
    font-size: 8.046rem;
    color: #232529;
    margin-bottom: 6rem;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-text--hl {
    background: #F7D06D;
    background-size: cover;
    position: relative;
    left: -1rem;
    padding-left: 1rem;
    padding-right: 2rem;
    
}



.hero__media {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.hero__media-char {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
    position: relative;
    object-position: bottom;
}


.hero__media-bullet {
    position: absolute;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    
}


.hero__media-bullet:nth-of-type(1) {
    top: 20.4%;
    left: 63.9%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 4rem;
    padding-left: 10rem;
    border-radius: 5px;
    background: #FFF;
    
}

.hero__media-bullet:nth-of-type(2) {
    top: 30.7%;
    left: 62.9%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 4rem;
    padding-left: 10rem;
    border-radius: 5px;
    background: #FFF;
}

.hero__media-bullet:nth-of-type(3) {
    top: 37.6%;
    left: 44.3%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 10rem;
    padding-left: 4rem;
    border-radius: 5px;
    background: #FFF;
}

.hero__media-bullet:nth-of-type(4) {
    top: 46.8%;
    left: 47.2%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 10rem;
    padding-left: 4rem;
    border-radius: 5px;
    background: #FFF;
}


.hero__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.3rem;
    
    
}

.hero__info-card {
    z-index: 3;

    position: relative;
    background-color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 4.3rem;
    padding-bottom: 2rem;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.hero__info-card::before {
    content: "";
    --card-gap: 0.6rem;
    position: absolute;
    left: var(--card-gap);
    top: var(--card-gap);
    display: block;
    border: 1px solid #f1f1f1 ;
    width: #{'calc(100% - 2 * var(--card-gap))'};
    height: #{'calc(100% - 2 * var(--card-gap))'};
    border-radius: inherit;
}

.hero__info-card-icon {
    display: block;
    height: 4rem;
    margin-bottom: 0.6rem;
}

.hero__info-card-desc {
    color: #333;
    font-size: 1.9rem;
    margin-top: auto; 
    line-height: 145%;
}


.hero {
    @media (max-width:1600px) {
        .ceil-header__slogan {
            font-size: 1.7rem;
        }

        .hero__content  {
            margin-bottom: 3rem;
        }

        .hero__offer {
            padding-top: 7rem;
        }

        .hero__media-bullet:nth-of-type(1) {
            top: 28.4%;
        }

        .hero__media-bullet:nth-of-type(2) {
            top: 38.7%;
            left: 62%;
        }

        .hero__media-bullet:nth-of-type(3) {
            
            left: 42.3%;
        }

        .hero__media-bullet:nth-of-type(4) {
            
            left: 45.5%;
        }
    }

    @media (max-width:1536px) {
        .hero__content  {
            margin-bottom: 4rem;
        }

        .hero__offer-title {
            margin-bottom: 3rem;
        }

        .hero__media-bullet:nth-of-type(1) {
            
        }

        .hero__media-bullet:nth-of-type(2) {
            left: 62%;
        }

        .hero__media-bullet:nth-of-type(3) {
            left: 41.3%;
        }

        .hero__media-bullet:nth-of-type(4) {
            left: 45.5%;
        }
    }

    @media (max-width:1440px) {
        .hero__info {
            padding-top: 2rem;
        }

        .hero__content  {
            margin-bottom: 3rem;
        }

        .hero__offer-title {
            margin-bottom: 7rem;
        }

        .hero__media {
            width: 110%;
            left: -2rem;
        }
        
        .hero__info {
            margin-bottom: 4.4rem;
        }
    }

    @media (max-width:1366px) {
        .hero__media {
            width: 125%;
            left: -12rem;
        }

        .hero__info {
            margin-bottom: 1.6rem;
        }

        .hero__offer-title {
            font-size: 7.8rem;
        }

        .hero__media-bullet:nth-of-type(1) {
            top: 26.4%;
            left: 62.9%;
        }

        .hero__media-bullet:nth-of-type(2) {
            top: 38.7%;
            left: 61.5%;
        }

        .hero__media-bullet:nth-of-type(3) {
            top: 34.6%;
            left: 41.8%;
        }


        .hero__media-bullet:nth-of-type(4) {
            top: 45.8%;
            left: 44.5%;
        }
    }

    @media (max-width:1280px) {
        .hero__media {
            width: 118%;
            left: -7rem;
        }

        .hero__media-bullet {
            font-size: 1.6rem;
        }

        .hero__media-bullet:nth-of-type(1) {
            top: 29%;
        }

        .hero__media-bullet:nth-of-type(2) {
            top: 41.2%;
            left: 62%;
        }

        .hero__media-bullet:nth-of-type(3) {
            top: 38.6%;
            left: 39%;
        }

        .hero__media-bullet:nth-of-type(4) {
            top: 50%;
            left: 45.5%;
        }
    }

    @media (max-width:1024px) {
        .ceil-header {
            padding-top: 2rem;
        }

        .ceil-header__slogan {
            font-size: 2rem;
        }

        .hero__offer {
            padding-top: 4rem;
        }

        .hero__content {
            margin-bottom: 1rem;
        }

        .hero__offer-title {
            margin-bottom: 2rem;
        }

        .hero__media {
            width: 140%;
            left: -19.3rem;
        }

        .hero__offer-title {
            font-size: 7rem;
        }

        .hero__media-bullet:nth-of-type(1) {
            top: 24%;
        }

        .hero__media-bullet:nth-of-type(2) {
            top: 37.2%;
        }

        .hero__media-bullet:nth-of-type(3) {
            top: 32%;
        }

        .hero__media-bullet:nth-of-type(4) {
            top: 45%;
        }

        .hero__info {
            margin-bottom: -1.3rem;
        }

    }

    @media (max-width:$tablet) {
        
    }

    @media (max-width:810px) {
        
        .hero__content {
            display: block;
        }

        .hero__offer {
            text-align: center;
        }

        .hero__media {
            width: 100%;
            position: relative;
            left: -8rem;
            padding-top: 3.8rem;
        }

        .hero__media-bullet:nth-of-type(1) {
            top: 16%;
            left: 58%;
        }

        .hero__media-bullet:nth-of-type(2) {
            top: 32%;
            left: 57%;
        }

        .hero__media-bullet:nth-of-type(3) {
            top: 23%;
            left: 25%;
        }

        .hero__media-bullet:nth-of-type(4) {
            top: 41%;
            left: 37%;
        }

        .hero__info {
            margin-top: -1.5rem;
            padding-top: 0rem;
            margin-bottom: -4.6rem;
        }

        .hero__info-card-desc {
            font-size: 1.6rem;
        }
    }

    @media (max-width:768px) {
        .hero__media-bullet:nth-of-type(1) {
            top: 16%;
            left: 58%;
        }

        .hero__media-bullet:nth-of-type(2) {
            top: 32%;
            left: 57%;
        }

        .hero__media-bullet:nth-of-type(3) {
            top: 23%;
            left: 23%;
        }

        .hero__media-bullet:nth-of-type(4) {
            top: 41%;
            left: 35%;
        }
    }

    @media (max-width:$mobile) {
        .ceil-header__container {
            grid-gap: 0rem;
          }

        .ceil-header__tel {
            font-size: 1.3rem;
        }

        .ceil-header__slogan {

            font-size: 1.4rem;
        }

        .hero__content {
            margin-bottom: 1.5rem;
        }

        .hero__offer {
            text-align: left;
            margin-bottom: 0.9rem;
        }

        .hero__offer-title {
            font-size: 3.5rem;
        }

        .hero__media-bullet {
            display: none;
        }

        .hero__info {
            display: block;
        }

        .hero__offer-title {
            margin-bottom: 4.4rem;
        }

        .hero__offer-btn {
            padding: 2.1rem 6.4rem;
        }

        .btn__text {
            font-size: 1.5rem;
        }

        .hero__media {
            width: 30rem;
            height: 40rem;
            left: -1rem;
            padding-top: 0rem;
        }

        .hero__media-char {
            height: 100%;
            width: 100%;
        }

        .hero__info-card {
            align-items: center;
            padding-top: 3.3rem;
            padding-right: 2rem;
            padding-left: 2rem;
            margin-bottom: 2rem;
        }

        .hero__info-card-icon {
            height: 3.4rem;
        }

        .hero__info-card-desc {
            font-size: 1.5rem;
            text-align: center;
        }

        .hero__info-card-desc br {
            display: none;
        }
    }







    
}


