.lead {
    position: relative;
    z-index: 1;
    
}

.lead__container {
    display: grid;
    grid-template-columns: auto 36rem;
    background: #F0C45B;
    padding-top: 6rem;
    padding-bottom: 7.5rem;
    box-sizing: border-box;
}


.lead__text{
    margin-left: 9rem;
    margin-top: -6.1rem;
}

.lead__text-title {
    color: #232529;
    font-size: 5.6rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    text-transform: uppercase;
    margin-top: 5.4rem;
    
}

.lead__text-info {
    color: #282828;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 148.9%;
    margin-top: 0.6rem;
}

.lead__media {

}

.lead__media-img {
    
}

.lead__form {
    position: relative;
    display: grid;
    gap: 2rem;
    width: 100%;
    margin-left: -9rem;
}

.lead__form-btn {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
}

button {
    background: transparent;
    border: none;
    
 }


 .lead__form-btn {
    
 }

.input__icon {
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    left: 4rem;
    top: 50%;
    transform: translateY(-50%);
}