.lighting {
    background: #FBFBFB;
    position: relative;
    z-index: 0;
}

.lighting__container {

}

.lighting__title {
    color: #232529;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    padding-top: 3.4rem;
}

.lighting__title::before {
    content: "";
    background: #F0C45B;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 13.9rem;
    margin-top: -3rem;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 9% 100%, 0% 49%);
}
.lighting__subtitle {
    color: #282828;
    font-size: 2.5rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    padding-top: 5.2rem;
}

.lightning__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3.8rem;
    padding-bottom: 8.2rem;
}

.lightning-type-card {

}

.lightning-type-card:nth-of-type(2) {
margin-top: 11.1rem;
}

.lightning-type-card:nth-of-type(3) {
    margin-top: 11.1rem;
    }


.lighting__types__card-media {
    width: 26rem;
    height: 26rem;
    margin-top: 3.7rem;
}

.lighting__types__card-pic {
    width: 100%;
    height: 100%;
}

.lighting__types__card-img {
    width: 100%;
    height: 100%;
}

.lightning-types__content {

}

.lightning-types-card__title {
    color: #282828;
    text-align: center;
    font-size: 2rem;
    font-family: 'montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    padding-top: 2.1rem;
}

.lightning-types-card__desc {
    color: #282828;
    text-align: center;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 116.9%;
}


.lighting {
    @media (max-width:1600px) {
        .lighting__title::before {
            margin-top: -3.5rem;
        }
    }

    @media (max-width:1024px) {
        .lighting__types__card-media {
            width: 21rem;
            height: 21rem;
            margin-top: 0rem;
        }
    }

    @media (max-width:810px) {
        .lightning__gallery {
            grid-template-columns: 1fr 1fr;
        }

        .lighting__types__card-media {
            width: 25rem;
            height: 25rem;
            margin-right: auto;
            margin-left: auto;
        }

        .lightning-type-card:nth-of-type(2),
        .lightning-type-card:nth-of-type(3) {
            margin-top: 0rem;
        }

        .lightning-types-card__desc br {
            display: none;
        }
    }

    @media (max-width:$mobile) {
        .lighting__title {
            font-size: 2.5rem;
            padding-top: 1.7rem;
        }

        .lighting__subtitle br {
            display: none;
        }

        .lighting__subtitle {
            font-size: 1.5rem;
            padding-top: 1.8rem;
        }

        .lightning__gallery {
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;
        }

        .lighting__title::before {
            margin-top: -2rem;
            height: 6.7rem;
            width: 97%;
            clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
        }

        .lighting__types__card-media {
            width: 14rem;
            height: 14rem;
        }

        .lightning-types-card__title {
            font-size: 1.2rem;
        }

        .lightning-types-card__desc {
            font-size: 1.2rem;
        }
    }
}

