.service {
    position: relative;
    
}

.service::before {
    content: "";
    z-index: -1;
    position: absolute;
    height: 27.85%;
    width: 100%;
    background: #129EE1;
}

.service__container {

}

.service__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.service__footer-offer-title {
    color: #FFF;
    font-size: 4.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    padding-top: 8.8rem;
    margin-left: -1rem;
    margin-bottom: 11.5rem;
}



.service__list {
    position: relative;
    padding-top: 7.8rem;
    padding-left: 1.6rem;
}

.service__list-title {
    color: #fff;
    font-size: 2.8rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.service__list-bullets {
    display: grid;
    grid-template-rows: auto;
    gap: 0.5rem;
    color: #fff;
    font-size: 2.1rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 148.9%;
    margin-top: 0.9rem;
    margin-left: -2.2rem;
}

.service__subtitle {
    color: #232529;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    margin-top: 5.2rem;
    margin-left: -1rem;
    margin-bottom: 10.5rem;
}

.service__subtitle::before {
    content: "";
    background: #F0C45B;
    position: absolute;
    z-index: -1;
    width: 138rem;
    height: 23.2rem;
    left: 0;
    top: 37.3rem;
    clip-path: polygon(0 0, 89% 0, 100% 100%, 12.2% 100%, 0% 49.2%);
}

.service__middle {
    display: grid;
    grid-template-columns: auto 70rem;
}

.service__middle-info {
    margin-left: -1rem;
    margin-top: -2rem;
}

.service__middle-info-desc {
    color: #282828;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 148.9%;
}

.service__middle-info-desc:nth-child(2) {
    margin-top: -0.6rem;
}

.service__middle-info-bold {
    font-weight: 700;
}

.service__middle-info-hl {
    display: inline-block;
    font-weight: 700;
    color: #fff;
    background: #129EE1;
    margin-left: -0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 0.9rem;
}


.service__media {
    width: 100%;
    margin-top: -0.5rem;
    margin-left: 1rem;
}

.service__media-pic {
    width: 100%;
    height: 100%;
}

.service__media-img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
    clip-path: polygon(81.3% 0, 100% 62%, 100% 100%, 0 100%, 0 0);
}

.service__after-title {
    color: #FFF;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    border-radius: 3rem;
    background: #129EE1;
    display: inline-block;
    margin-left: -1rem;
    margin-top: -2.3rem;
    padding: 2.3rem 6.2rem;
}

.service__after-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5.1rem;
}

.service__after-column {
    display: flex;
    margin-left: -1rem;
}

.service__after-column:nth-child(2) {
    margin-left: -8rem;
}

.service__after-column-offer {
    color: #129EE1;
    font-size: 9.6rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;

}


.service__after-column-info-desc {
    color: #282828;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 148.9%;
    padding-left: 2.4rem;
    margin-top: 1.2rem;
    margin-bottom: 3.1rem;
}

.service__text-bold {
    font-weight: 700;
}