.toxicity {
    position: relative;
}

.toxicity_container {

}

.toxicity__content-title {
    color: #232529;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    padding-top: 4.7rem;
}

.toxicity__content-title::before {
    content: "";
    background: #F0C45B;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 31.9rem;
    margin-top: -4.7rem;
    left: 0;
    clip-path: polygon(8% 0, 100% 0, 93% 100%, 0 100%, 0% 52%);
}

.toxicity__body {
    display: grid;
    grid-template-columns: auto 59rem;
}

.toxicity__body::before {
    content: "";
    background: #FBFBFB;
    position: absolute;
    left: 0;
    right: 0;
    top: 32rem;
    width: 100%;
    height: 40%;
    z-index: -2;
}

.toxicity__media {
    width: 131rem;
    height: 73.6rem;
    margin-left: -42.3rem;
    margin-top: -6.6rem;
}

.toxicity__media-img {
    width: 100%;
    height: 100%;
}

.toxicity__media-img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.toxicity__content {
    margin-left: -33rem;
    margin-top: 13.7rem;
}

.toxicity__content-desc {
    color: #282828;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}

.toxicity__content-desc:nth-of-type(1) {
    margin-top: 0.3rem;
}

.toxicity__content-desc:nth-of-type(2) {
    padding-top: 1rem;
}

.toxicity__content-desc:nth-of-type(3) {
    padding-top: 3rem;
}


.toxicity__text-hl {
    color: #129EE1;
    font-size: 4.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.toxicity__text-bold {
    font-weight: 700;
}

.toxicity__text-bold-hl {
    color: #129EE1;
    font-size: 3rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
}


.toxicity__footer {

}

.toxicity__footer-title {
    color: #FFF;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    background: #129EE1;
    display: inline-block;
    margin-top: -3.3rem;
    margin-left: -0.4rem;
    padding-top: 0.8rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 18rem;
    clip-path: polygon(0 0, 94% 0, 100% 100%, 0% 100%);
}

.toxicity__footer-columns {
    display: grid;
    grid-template-columns: 50rem auto;
    padding-bottom: 11.8rem;
}

.toxicity__footer-column {
    padding-top: 5.6rem;
}

.toxicity__footer-column-title {
    color: #232529;
    font-size: 4.5rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.toxicity__footer-column-desc {
    color: #282828;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}


.toxicity {
    @media (max-width:1600px) {
        .toxicity__body {
            grid-template-columns: 1fr 1fr;
        }
    }
    

    @media (max-width:1024px) {
        .toxicity__content-title {
            font-size: 5rem;
            padding-left: 6rem;
        }

        .toxicity__content-title::before {
            height: 27.9rem;
        }

        .toxicity__body {
            grid-template-columns: 1fr 1fr;
        }

        .toxicity__body::before {
            height: 42%;
            top: 28.1rem;
        }

        .toxicity__media {
            margin-left: -44.9rem;
        }

        .toxicity__text-hl {
            font-size: 4.2rem;
        }

        .toxicity__content-desc {
            font-size: 1.8rem;
        }

        .toxicity__text-bold-hl {
            font-size: 2.7rem;
        }
    }

    @media (max-width:810px) {
        .toxicity__content-title {
            font-size: 4.3rem;
            padding-left: 1rem;
        }

        .toxicity__content-title br {
            display: none;
        }

        .toxicity__content-title::before {
            height: 25.9rem;
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
        }

        .toxicity__body::before {
            top: 26.1rem;
        }

        .toxicity__body {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }

        .toxicity__content  {
            margin-left: 0rem;
        }

        .toxicity__content {
            margin-top: 7.7rem;
        }

        .toxicity__text-hl br {
            display: none;
        }

        .toxicity__content-desc br {
            display: none;
        }

        .toxicity__media {
            width: 79rem;
            height: 50rem;
            margin-left: 0rem;
            margin-top: -15rem;
        }

        .toxicity__content-desc:nth-of-type(3) {
            padding-top: 1rem;
        }

        .toxicity__footer-title {
            font-size: 5rem;
        }

        .toxicity__footer-columns {
            display: block;
        }

        .toxicity__footer-column {
            padding-top: 2.5rem;
        }

        .toxicity__footer-columns {
            padding-bottom: 5rem;
        }
    } 

    @media (max-width:768px) {
        .toxicity__content-title::before {
            margin-top: -5.5rem;
            clip-path: none;
        }
    }

    @media (max-width:$mobile) {
        .toxicity__content-title::before {
            margin-top: -2rem;
            height: 18rem;
        }

        .toxicity__content-title {
            font-size: 2.5rem;
            padding-left: 0rem;
            margin-left: -0.5rem;
            padding-top: 2rem;
        }

        .toxicity__content-title br {
            display: none;
        }

        .toxicity__text-hl {
            font-size: 2.2rem;
        }

        .toxicity__content-desc {
            font-size: 1.5rem;
        }

        .toxicity__text-bold-hl {
            font-size: 1.8rem
        }

        .toxicity__media {
            width: 29rem;
            height: 26rem;
            margin-top: 0rem;
        }

        .toxicity__content {
            margin-top: 3.2rem;
        }

        .toxicity__footer-title {
            font-size: 2.5rem;
            padding-right: 7.9rem;
            margin-top: -1.3rem;
            margin-left: -1.5rem;
            padding-left: 1rem;
            padding-top: 1.9rem;
            padding-bottom: 2.5rem;
        }

        .toxicity__footer-column-title {
            font-size: 2.2rem;
        }

        .toxicity__footer-column-desc {
            font-size: 1.5rem;
        }

        .toxicity__footer-column-desc br {
            display: none;
        }
        
    }
}





