.toxicity {

}

.toxicity_container {

}

.toxicity__body {

}

.toxicity__media {

}

.toxicity__media-img {

}

.toxicity__content {

}

.toxicity__content-title {
    color: #232529;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.toxicity__content-desc {
    color: #282828;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}

.toxicity__text-hl {
    color: #129EE1;
    font-size: 4.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.toxicity__text-bold {
    font-weight: 700;
}

.toxicity__text-bold-hl {
    color: #129EE1;
    font-size: 3rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}


.toxicity__footer {

}

.toxicity__footer-title {
    color: #FFF;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    background: #129EE1;
    display: inline-block;
}

.toxicity__footer-columns {

}

.toxicity__footer-column {

}

.toxicity__footer-column-title {
    color: #232529;
    font-size: 4.5rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.toxicity__footer-column-desc {
    color: #282828;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}






