.warranty {
    background: url(../img/land/warranty/warranty-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.warranty__container {

}

.warranty_content {

}

.warranty-title {
    color: #232529;
    font-size: 5.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    padding-top: 6.4rem;
    margin-left: -1rem;
}

.warranty__subtitle{
    position: relative;
    color: #FFF;
    font-size: 4.7rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
    border-radius: 3rem;
    background: #129EE1;
    display: inline-block;
    margin-left: 69.1rem;;
    margin-top: 2.8rem;
    padding-left: 2rem;
    padding-right: 2.2rem;
    right: -1rem;
    padding-top: 2.64rem;
    padding-bottom: 3.2rem;
    
}

.warranty__cards {
    display: grid;

}

.warranty__card {

}

.warranty__card-offer {
    color: #129EE1;
    font-size: 9.55rem;
    font-family: 'Bebas', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 116.9%;
}

.warranty__card-info {
    color: #282828;
    font-size: 20px;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 148.9%;
}

.warranty__text-bold {
    font-weight: 700;
}